@import "tailwindcss";

.glow {
  text-shadow: 0 0 3px rgba(198, 255, 255, 0.3);
}

@keyframes slowPan {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.parallax-stars {
  animation: slowPan 30s linear infinite;
}
